.idea/
.vscode/
env/
__pycache__/
*.pyc
mongo-data/
log.txt
mongod.log*
venv/
instance/
.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

.vscode/

**/flask_session/
